.Button {
  height: 35px;
  background: #ffc700 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #2929344f;
  border-radius: 4px;
  color: white;
  padding: 0 30px;
  margin: 4px auto;
  text-transform: uppercase;
  display: inline-block;
  outline: none;
  border: none;
  position: relative;
  transition: all ease-in-out 0.3s;
  text-shadow: 1px 1px 2px rgba(26, 26, 26, 0.479);
  font-weight: bold;
}

.Button::active {
  transform: translate(0);
  box-shadow: 0px 3px 6px #39393b;
}
.Button:hover {
  background-color: #d6a802;
}
.LinkButton {
  text-decoration: none;
  height: 50px;
  line-height: 50px;
  cursor: pointer;
  color: white;
}

.LinkButton:hover {
  color: white;
  text-decoration: none;
}

.LinkButton:active {
  transform: translateY(2px);
  box-shadow: 0px 3px 6px #39393b;
}

.Button:active {
  transform: translateY(2px);
  box-shadow: 0px 3px 6px #39393b;
  outline: none;
}
.Button:hover {
  transform: translateY(-2px);
  box-shadow: 0px 3px 8px #2929344f;
  outline: none;
}

@media screen and (max-width: 500px) {
  .Button {
    width: 200px;
  }
}
