.TextCenter {
  text-align: center;
  width: 100%;
}

.TextWhite {
  color: white;
}

.TextYellow {
  color: #ffc700;
}
.PageHeading {
  font: Regular 32px/39px Cabin;
  color: #707070;
  text-transform: uppercase;
  font-size: 18px;
}
.Heading {
  margin-top: 20px;
}

.ButtonContainer {
  width: 100%;
  text-align: center;
}

.Spinner {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.Spinner div {
  position: absolute;
  border: 4px solid rgb(122, 187, 3);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.Spinner div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.ButtonSpinner {
  color: official;
  display: inline-block;
  position: relative;
  width: 25px;
  height: 15px;
  top: 0;
  margin-right: 20px;
}
.ButtonSpinner div {
  transform-origin: 15px 15px;
  animation: lds-spinner 1.2s linear infinite;
}
.ButtonSpinner div:after {
  content: " ";
  display: block;
  position: absolute;
  right: 15px;
  width: 6px;
  height: 14px;
  border-radius: 20%;
  background: #fff;
}
.ButtonSpinner div:nth-child(1) {
  transform: rotate(0deg);
  animation-delay: -1.1s;
}
.ButtonSpinner div:nth-child(2) {
  transform: rotate(30deg);
  animation-delay: -1s;
}
.ButtonSpinner div:nth-child(3) {
  transform: rotate(60deg);
  animation-delay: -0.9s;
}
.ButtonSpinner div:nth-child(4) {
  transform: rotate(90deg);
  animation-delay: -0.8s;
}
.ButtonSpinner div:nth-child(5) {
  transform: rotate(120deg);
  animation-delay: -0.7s;
}
.ButtonSpinner div:nth-child(6) {
  transform: rotate(150deg);
  animation-delay: -0.6s;
}
.ButtonSpinner div:nth-child(7) {
  transform: rotate(180deg);
  animation-delay: -0.5s;
}
.ButtonSpinner div:nth-child(8) {
  transform: rotate(210deg);
  animation-delay: -0.4s;
}
.ButtonSpinner div:nth-child(9) {
  transform: rotate(240deg);
  animation-delay: -0.3s;
}
.ButtonSpinner div:nth-child(10) {
  transform: rotate(270deg);
  animation-delay: -0.2s;
}
.ButtonSpinner div:nth-child(11) {
  transform: rotate(300deg);
  animation-delay: -0.1s;
}
.ButtonSpinner div:nth-child(12) {
  transform: rotate(330deg);
  animation-delay: 0s;
}
@keyframes lds-spinner {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* MODAL STYLES */

.ModalContainer {
  position: fixed;
  width: 100%;
  height: 100vh;
  bottom: 0;
  background-color: #07070767;
}
.Modal {
  position: absolute;
  width: 60%;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -40%);
  padding: 30px 10px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  animation-name: modal-animation;
  animation-duration: 0.4s;
  transition: all ease-in-out 0.4s;
}

@keyframes modal-animation {
  0% {
    opacity: 0;
    top: -1000px;
  }
  50% {
    top: 20%;
    opacity: 0.8;
  }
  100% {
    top: 40%;
    opacity: 1;
  }
}
