.TextCenter {
  text-align: center;
  width: 100%;
}

.TextWhite {
  color: white;
}

.TextYellow {
  color: #ffc700;
}
.PageHeading {
  font: Regular 32px/39px Cabin;
  color: #707070;
  text-transform: uppercase;
  font-size: 18px;
}
.Heading {
  margin-top: 20px;
}

.ButtonContainer {
  width: 100%;
  text-align: center;
}

.SpinnerContainer {
  position: relative;
  width: 50vw;
  height: 50vh;
}

.Spinner {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  top: 50%;
  left: 50%;
}
.Spinner div {
  position: absolute;
  border: 4px solid rgb(122, 187, 3);
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}
.Spinner div:nth-child(2) {
  animation-delay: -0.5s;
}
@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

.ButtonSpinner {
  background-color: red;
  display: block;
  width: 40px;
  padding: 0 4px;
  line-height: 40px;
}
.ButtonSpinner div {
  box-sizing: border-box;
  position: absolute;
  width: 35px;
  height: 35px;
  top: 2.5px;
  border: 4px solid;
  border-radius: 50%;
  right: 10px;
  animation: ButtonSpinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: rgba(254, 255, 240, 0.575) transparent transparent transparent;
}
.ButtonSpinner div:nth-child(1) {
  animation-delay: -0.45s;
}
.ButtonSpinner div:nth-child(2) {
  animation-delay: -0.3s;
}
.ButtonSpinner div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes ButtonSpinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* MODAL STYLES */

.ModalContainer {
  position: fixed;
  width: 100%;
  height: 100vh;
  bottom: 0;
  background-color: #07070767;
}
.Modal {
  position: absolute;
  width: 60%;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -40%);
  padding: 30px 10px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  animation-name: modal-animation;
  animation-duration: 0.4s;
  transition: all ease-in-out 0.4s;
}

@keyframes modal-animation {
  0% {
    opacity: 0;
    top: -1000px;
  }
  50% {
    top: 20%;
    opacity: 0.8;
  }
  100% {
    top: 40%;
    opacity: 1;
  }
}

/*BAR SPINNER*/

.BarSpinner {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 40px;
}
.BarSpinner div {
  display: inline-block;
  position: absolute;
  left: 4px;
  width: 8px;
  background: rgb(212, 212, 212);
  animation: bar-spinner 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.BarSpinner div:nth-child(1) {
  left: 4px;
  animation-delay: -0.24s;
}
.BarSpinner div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}
.BarSpinner div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}
@keyframes bar-spinner {
  0% {
    top: 8px;
    height: 32px;
  }
  50%,
  100% {
    top: 12px;
    height: 16px;
  }
}
