.Room {
  width: 300px;
  height: 160px;
  background: #fafcfe 0% 0% no-repeat padding-box;
  box-shadow: 0px 0px 8px #00000031;
  border: 1px solid #d2e0fd;
  border-radius: 4px;
  position: relative;
  cursor: pointer;
}

.RoomHeading {
  height: 40px;
  background: #827397;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
  line-height: 40px;
  color: white;
}

.RoomContentContainer {
  height: 110px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #ebebeb;
  width: 98%;
  margin: 5px auto;
  position: relative;
}

.RoomContent {
  position: absolute;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  color: #707070;
}
