.StaffMember {
  display: flex;
  background-color: whitesmoke;
  justify-content: space-evenly;
  width: 400px;
  padding: 5px;
  margin: 10px;
  border: 2px solid #ccc;
  border-radius: 10px;
}

.CardNormal {
  background-color: #ececec;
}

.CardInactive {
  background-color: rgb(250, 232, 232);
}
.StaffAvatar {
  background-color: rgb(240, 238, 238);
  height: 100%;
  width: 160px;
  height: 175px;
  background-color: rebeccapurple;
  border-radius: 50%;
}

.StaffAvatar img {
  width: 100%;
  border-radius: 50%;
  height: 100%;
}

.Permission {
  font-size: 10px;
  color: #0099ff;
  padding: 5px;
  display: inline-block;
  background-color: #ffffff;
  margin: 1px;
  border-radius: 1px;
  font-weight: 700;
  box-shadow: 0 0 2px #33333363;
}
.PermissionGroup {
  padding: 10px;
}
.PermissionHeading {
  text-transform: uppercase;
  font-size: 10px;
  text-shadow: 0 0 1px rgba(78, 77, 77, 0.644);
  color: #5c5300fb;
  display: block;
  background-color: #f4faff;
  letter-spacing: 3px;
  font-weight: bold;
  margin-bottom: 10px;
  border-bottom: 1px solid #ddd;
  width: 50%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.AccountInfo {
  text-align: justify;
  background-color: #fafdff98;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 10px;
}
.Inactive {
  color: white;
  background-color: brown;
}
.AccountDetails {
  cursor: pointer;
}
