.ModalContainer {
  position: fixed;
  width: 100%;
  height: 100vh;
  bottom: 0;
  background-color: #07070767;
}
.Modal {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -40%);
  padding: 30px 10px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 10px;
  animation-name: modal-animation;
  animation-duration: 0.4s;
  transition: all ease-in-out 0.4s;
  padding-top: 10px;
}

@keyframes modal-animation {
  0% {
    opacity: 0;
    top: -1000px;
  }
  50% {
    top: 20%;
    opacity: 0.8;
  }
  100% {
    top: 40%;
    opacity: 1;
  }
}

.CloseButtonContainer {
  text-align: right;
  color: brown;
  padding: 10px;
  padding-right: 20px;
  width: 98%;
}
.CloseButton {
  padding: 2px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5rem;
  background-color: whitesmoke;
  box-shadow: 0 0 2px #3333338f;
}

.CloseButton:hover {
  background-color: rgb(253, 242, 242);
}

.ModalTitle {
  float: left;
  color: darkgrey;
}
