.Tr {
  background-color: whitesmoke;
}

.Td,
.Th {
  padding: 10px;
  text-align: center;
  border: 1px solid #ccc;
  min-width: 150px;
}
.Td {
  font-size: 18px;
  color: rgb(122, 121, 121);
}
.Th {
  font-weight: bold;
  background-color: rgb(226, 226, 226);
  color: rgb(82, 82, 82);
  text-transform: uppercase;
  text-align: center;
}
.Tr:nth-child(6) {
  text-align: right;
}
