.CardContainer {
  display: inline-block;
  min-width: 250px;
  box-shadow: 1px 1px 4px rgba(3, 3, 3, 0.384);
  overflow: hidden;
  box-sizing: border-box;
  margin-left: 20px;
  background-color: whitesmoke;
  border-radius: 3px;
}

.CardContent {
  padding: 0px 10px;
  cursor: pointer;
}
.ButtonContainer {
  display: flex;
  width: 100%;
  margin-bottom: 5px;
  justify-content: space-around;
  padding-top: 4px;
}

.CardTitle {
  text-align: center;
  background-color: rgb(80, 108, 131);
  color: white;
  text-transform: uppercase;
  font-size: 16px;
  height: 40px;
  line-height: 40px;
}
.CardHeader {
  background-color: rgb(80, 108, 131);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
