.HotelClient {
  display: inline-block;
}

.Checkbox {
  width: 50px;
  height: 20px;
}

.CheckboxLabel {
  line-height: 100%;
  display: flex;
  align-items: center;
  margin: 0 10px;
  text-transform: uppercase;
}
.BillForm {
  padding: 20px;
}
.BillForm form {
  display: flex;
  width: 80%;
  align-items: center;
}

.ButtonContainer {
  margin-left: 15px;
}
.PrintButtonContainer {
  width: 90%;
  margin: 0 auto;
  text-align: right;
}
