.RoomsPage {
  position: relative;
  height: 100%;
}

.RoomPageMargin {
  height: 10px;
}

.RoomPageHeading {
  font: Regular 32px/39px Cabin;
  color: #707070;
  text-transform: uppercase;
  font-size: 18px;
}

.RoomsContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}


@media screen and (max-width: 400px) {
  .RoomsContainer {
    flex-direction: column;
  }
}

@media screen and (max-width: 1200px) {
  .RoomsContainer {
    justify-content:space-evenly;
    width: 100%;
  }
}
